$primary-body-background: #f9f9f9;

$primary-body-text: #fff;
$delay-text-color: yellow;
$cancelled-text-color: red;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;

$frame-gut: 20px;

$smallest-size-fonts: 12px;
$small-size-fonts: 16px;
$normal-size-fonts: 18px;
$mid-size-fonts: 22px;
$big-size-fonts: 28px;
$biggest-size-fonts: 60px;
